@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Rambla';
    src: local('Rambla'),
        url('./assets/Rambla-Regular.woff2') format('woff2'),
        url('./assets/Rambla-Regular.woff') format('woff'),
        url('./assets/Rambla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/RedHatText-Light.woff2') format('woff2'),
        url('./assets/RedHatText-Light.woff') format('woff'),
        url('./assets/RedHatText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/RedHatText-Regular.woff2') format('woff2'),
        url('./assets/RedHatText-Regular.woff') format('woff'),
        url('./assets/RedHatText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/RedHatText-Bold.woff2') format('woff2'),
        url('./assets/RedHatText-Bold.woff') format('woff'),
        url('./assets/RedHatText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Red Hat Text';
    src: url('./assets/RedHatText-LightItalic.woff2') format('woff2'),
        url('./assets/RedHatText-LightItalic.woff') format('woff'),
        url('./assets/RedHatText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


@tailwind utilities;

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.initial-wrapper{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(29, 29, 67, 0.5) 100%), linear-gradient(180deg, #1D1D43 0%, #CE751D 100%);
    height:43rem;
}

.initial-wrapper-text{
    font-family:"Rambla"
}

.second-wrapper{
    background: #5F4B8B;
    height:63rem
}


.experience-card-company-name{
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.experience-card-company-role{
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.experience-card-company-duration{
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

.experience-bullet-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width:43rem;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

.third-wrapper{
    background:#191970;
    height:166rem
}

.blinking-cursor{
      width: 2px;
      height: 62px;
      background-color: white;
      margin-left: 8px;
      animation: blink .6s linear infinite alternate;
}

.fourth-wrapper{
    background:#544D4D;
    height:43rem
}